[2017-11-27 18:57] DollarAkshay opened #1 "Branding Image not displaying properly on Safari"
Image goes out of Parent bounds.
![Screenshot](https://i.imgur.com/RIhrJOh.jpg)

[https://imgur.com/a/mTCvv](url)

[2017-12-04 18:44] Pulkit07 opened #2 "A better design for mentioning previous PyCons."
The Idea of mentioning about Past PyCons is nice. In that section
let's have two rows with five pictures in each row. Each picture is
from one of the previous PyCons and is also a link to that PyCon description or
website.

[2017-12-05 12:26] vnbang2003 commented on #2
Mentioning of previous years has to done just by link in website years links only.We can actually skip this if required.
We should be speaking more about this year stuff more.

[2017-12-05 12:29] vnbang2003 opened #3 "Add communities name section/page on website"
We should look to add local communities on website like https://tw.pycon.org/2017/en-us/
Probably additional page or section would be great.
You can find list of local indian commuities here(https://pssi.org.in/usergroups/)

[2017-12-05 15:20] realslimshanky opened #4 "Infrastructure needs to change with a scalable boilerplate"
I've multiple issues with the way the website has been build and hence I'm writing few recommendations of my own.

- [ ] A boilerplate is needed to build the project from ground-up. (my recommendations - http://html5boilerplate.com and https://frontendchecklist.io)
- [ ] Change [this](https://github.com/pythonindia/inpycon2018/blob/master/PyCon%20India%202018%20Logo.ico) filename to `favicon.ico`

[2017-12-26 11:49] #1 closed

[2017-12-26 11:49] #2 closed

[2017-12-26 11:49] #3 closed

[2017-12-26 11:49] #4 closed

[2017-12-26 11:50] vnbang2003 opened #5 "Add sponsorship download button"
Add sponsorship download button

[2017-12-26 11:50] vnbang2003 opened #6 "Journey section content"
We need to come up with better content in journey section.
Presently we are just showing 1) Dates (2) Venue (3) City .

@SaptakS @aavrug @sayanchowdhury @ciypro @DollarAkshay : Please do share thought on it

[2017-12-27 08:35] DollarAkshay opened #8 "Mobile website overflowing."
A lot of elements are overflowing when viewed at 320px width on chrome, causing a weird gap on the right

[2017-12-27 12:30] vnbang2003 opened #9 "Mis-spelled Sponsorship in Tab section"
Mis-spelled Sponsorship in Tab section

[2017-12-27 12:34] vnbang2003 opened #10 "Sponsorship logo sizes"
Sponsors Logo display size based on sponsorship category
Size order  Diamond ,  Platnium , Gold , Silver ,  Associate
Example: https://in.pycon.org/2014/

[2017-12-27 12:36] vnbang2003 opened #11 "Fix google map co-ordinates"
Presently Google map is pointing to london. We need it to point to BIEC

https://www.google.co.in/maps/place/Bengaluru+International+Exhibition+Centre/@13.0622611,77.4719009,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae235720cf15b9:0x10b800c631021f0e!8m2!3d13.0622611!4d77.4740896

[2017-12-27 12:38] vnbang2003 opened #12 "Add Code of conduct page"
Add Code of conduct page

[2017-12-27 12:38] vnbang2003 opened #13 "Add FAQ page"
Add FAQ page

[2017-12-28 05:06] aavrug commented on #9
It's fixed in #14

[2017-12-28 05:34] #9 closed

[2017-12-28 13:52] webchirpy commented on #13
Added a new page for FAQ

[2017-12-28 13:52] #13 closed

[2017-12-28 13:53] webchirpy commented on #12
Added a new page for CoC

[2017-12-28 13:53] #12 closed

[2017-12-28 13:53] webchirpy commented on #11
Added new co-ordinates.

[2017-12-28 13:53] #11 closed

[2017-12-28 13:53] webchirpy commented on #10
Fixed

[2017-12-28 13:53] #10 closed

[2017-12-29 02:58] vnbang2003 opened #17 "Broken CSS in safari"
https://in.pycon.org/2018/
![screen shot 2017-12-29 at 8 27 04 am](https://user-images.githubusercontent.com/316253/34428376-3d263efc-ec72-11e7-9d70-e09a4567ef3f.png)

[2017-12-29 03:43] vnbang2003 opened #18 "Feeds for latest update section"
Feeds for latest update section

twitter link : https://twitter.com/pyconindia
blog link : http://in.pycon.org/blog/2018/

[2017-12-29 03:45] vnbang2003 commented on #5
In sponsorshiop section, Can we please change download button with better CSS ?

[2017-12-29 03:51] SaptakS opened #19 "Fix blog link in the navbar"
The "Blog" tab points to a wrong link. Need to point it to the correct one.

[2017-12-29 04:46] webchirpy commented on #17
Looks like a cache issue, We too experienced the same and after clearing the cache everything is set.

[2017-12-29 05:07] SaptakS opened #20 "Provide a favicon"
A favicon is missing. I think the python logo in the middle of the banner logo can be used as the favicon.

[2017-12-29 05:18] webchirpy commented on #19
Fixed!

[2017-12-29 05:18] webchirpy commented on #8
Could you please check now as we have fixed the issue?

[2017-12-29 05:19] webchirpy commented on #5
Fixed!

[2017-12-29 05:24] SaptakS commented on #19
You seem to have added the blog link only on the index.html page and missed the coc.html and faq.html according to the code pushed in your last commit. Can you please check and verify?

[2017-12-29 06:26] DollarAkshay commented on #8
One last thing, the Logo at the footer is overflowing. Everything else looks fine.

[2017-12-29 06:32] DollarAkshay commented on #20
I suggest using an online favicon generator like https://www.favicon-generator.org/
as it covers all possible cases and also provides a theme color for the entire website

[2017-12-29 06:44] SaptakS opened #21 "The event venue's height doesn't matches with the map height."
The map height appears more than the event venue's height in some browsers like chrome.

[2017-12-29 07:11] DollarAkshay commented on #8
There seems to be a gap on the right even on medium-small desktop devices

![pycon india website](https://user-images.githubusercontent.com/6565924/34431483-9eba62ce-ec95-11e7-8b46-a408d86b53b8.png)

[2017-12-29 07:13] DollarAkshay commented on #20
I can do it if you provide me an SVG version of the logo

[2017-12-29 07:26] DollarAkshay opened #22 "Journey of Pycon India Change Order"
In the **Journey of Pycon India** section , lets put the oldest year to the left and the latest one to the right.
Time increasing as we move right makes more sense.

[2017-12-29 07:35] DollarAkshay commented on #21
I noticed this too. Also why is its parent not as big as the child divs ? Its just there at the top with 0 height and some padding.
![pycon india website 2](https://user-images.githubusercontent.com/6565924/34431918-ef1232ee-ec98-11e7-8ea7-2a32e8aa25c9.png)

[2017-12-29 08:07] webchirpy commented on #21
Fixed the layout issue.

[2017-12-29 08:08] webchirpy commented on #20
Added the app icons and favicons

[2017-12-29 08:08] webchirpy commented on #19
Added appropriate link to all HTML pages.

[2017-12-29 08:09] webchirpy commented on #18
Updated!

[2017-12-29 08:30] vnbang2003 commented on #18
Can you just restrict blog feed to : http://in.pycon.org/blog/2018/
right now I see we are even getting older blog : http://in.pycon.org/blog/2017/

[2017-12-29 09:57] webchirpy commented on #18
Updated to show only 2018!

[2017-12-29 10:15] vnbang2003 commented on #22
I think it should be from 2018-2009 , we don't need to chnage it.
Always latest will be on top.
Can we please close this if you agree with this comments.

[2017-12-29 10:17] vnbang2003 commented on #18
Thanks . Closing it

[2017-12-29 10:17] #18 closed

[2017-12-29 10:17] SaptakS commented on #21
Resolved. Closing.

[2017-12-29 10:17] #21 closed

[2017-12-29 10:17] SaptakS commented on #20
Resolved. Closing.

[2017-12-29 10:17] #20 closed

[2017-12-29 10:22] vnbang2003 commented on #17
Yep closing it

[2017-12-29 10:22] #17 closed

[2017-12-29 10:27] SaptakS commented on #19
Fixed. Closing.

[2017-12-29 10:27] #19 closed

[2017-12-29 10:28] SaptakS opened #24 "Add mailing list link in the footer."
We need a mailbox icon in the footer to add the link to the mailing list.

[2017-12-29 10:30] SaptakS commented on #5
Resolved. Closing.

[2017-12-29 10:30] #5 closed

[2017-12-29 10:55] #22 closed

[2017-12-29 11:07] vnbang2003 opened #25 "CFP link button"
We need to find best place to show Call For Proposal button.

[2017-12-29 11:09] SaptakS commented on #25
I think just below the dates in the banner section.

[2017-12-29 11:28] webchirpy commented on #24
Added!

[2017-12-29 18:59] Pulkit07 opened #26 "Fix the navigation bar for FAQ and COC page."
Right now, if you go to FAQ or COC page, there are following issues:

1) The PyCon India 2018 logo is not shown in the nav bar until you scroll down.
2) `Home` part is highlighted in the nav bar.
3) None of the nav bar inks except Blog are working.

nit: both FAQ and COC should be capitalised in the nav bar.

[2017-12-29 19:05] Pulkit07 opened #27 "Improve the design of FAQ page."
Right now at FAQ page, the left alignment of answer is not the same as that of question which seems a bit awkward. I think we can do better here.

[2017-12-29 19:26] Pulkit07 opened #29 "Add disqus for FAQs"
There have been generally a lot of questions arising related to difference and intersections of conference, workshops and devsprints. Let's add them and have a FAQ which can be a good go-to place for any doubt for any pythonista who wants to come to PyCon India 2018.

[2017-12-30 15:06] SaptakS opened #32 "Separate text from image"
The text in [this image](https://in.pycon.org/2018/img/10.png) is embedded. It would be great to have it as a separate text. Also, the text should be "PyCon India" instead of "Pycon India"

[2017-12-30 15:11] SaptakS opened #33 "Separate frames from image"
Separating frame from [the image](https://in.pycon.org/2018/img/speaker.jpg) would allow us to use the frame for the other images when and where necessary.

Same for the sponsor images.

[2017-12-30 15:16] SaptakS commented on #24
Resolved.

[2017-12-30 15:16] #24 closed

[2017-12-31 11:19] #26 closed

[2018-01-03 13:07] webchirpy commented on #33
Fixed!

[2018-01-03 13:07] webchirpy commented on #32
Fixed!

[2018-01-04 05:29] #33 closed

[2018-01-04 05:30] #32 closed

[2018-01-11 09:22] vnbang2003 commented on #6
@SaptakS  Any update on this ?

[2018-01-11 09:23] SaptakS commented on #6
@vnbang2003 I am waiting for the one-liner description. Apart from that, it is ready.

[2018-01-11 09:25] vnbang2003 commented on #6
@SaptakS Let's get photo's moving forward. We can update one-liner we are get

[2018-01-11 09:26] SaptakS commented on #6
Okay. I will push the code.

[2018-01-12 11:41] #6 closed

[2018-03-05 20:37] juggernaut451 opened #39 "Pycon India 2017 wrong location"
In the journey of Pycon India section, the location of 2017 event is given as `Indian Institute of Science, Bangalore` but the actual event took place at `Shaheed Sukhdev College
Of Business Studies `

[2018-03-06 03:05] realslimshanky commented on #39
@juggernaut451 please also share the link/screenshot where it is so.

[2018-03-28 17:55] akshitac8 opened #41 "Link for submitting a proposal"
I was not able to find a link while hovering at ***here***.

![screenshot from 2018-03-28 23-17-50](https://user-images.githubusercontent.com/21353757/38047114-1cad6a52-32df-11e8-847d-21933544413a.png)

[2018-03-28 20:24] realslimshanky commented on #41
@akshitac8 CFP is still not open yet and the URL will be added to `here` when it will. Until then we should notify the same on FAQ as well. Thanks for raising the issue. I'm sure someone would take up the task and create a PR soon.

[2018-03-28 20:33] akshitac8 commented on #41
Ohkay @realslimshanky  That's great :slightly_smiling_face:

[2018-03-31 11:44] chirag200666 opened #42 "Update in Venue & date required on the website."
Following changes are required on the website:

- The new Venue for the conference will be HICC, Hyderabad
- The dates of the PyCon India 2018 will be 5th - 9th October 2018.

[2018-03-31 11:54] inovizz commented on #42
@chirag200666 The info you provided on this issue is final? Or do we need to seek confirmation on HICC for the conference venue?

[2018-03-31 11:56] chirag200666 commented on #42
Hi @inovizz
The venue is available and we are in the process of blocking it.

[2018-04-01 18:55] chirag200666 opened #44 "CI/CD"
Does the website not get updated when we make changes in master in the repo?

[2018-04-01 21:01] realslimshanky commented on #44
@chirag200666 we need to manually pull changes we make on GitHub from the server.

[2018-04-01 21:03] realslimshanky commented on #42
We can close this issue now as it has been resolved in #43.

[2018-04-01 22:40] chirag200666 commented on #42
@realslimshanky
This change needs to go live, so we can close the issue. Do you have info on how to do the same?

[2018-04-02 06:43] realslimshanky commented on #42
@chirag200666 one needs to access the server and pull changes from GitHub.

[2018-04-03 07:09] akshitac8 commented on #42
Hi @chirag200666 I think the same changes are also needed at [FAQ](https://in.pycon.org/2018/faq.html) page.
Can I propose a PR with the changes?

[2018-04-03 07:26] realslimshanky commented on #42
@akshitac8 please go ahead and raise the PR.

[2018-04-03 07:42] akshitac8 commented on #42
ohkay @chirag200666
The timings mentioned at [FAQ](https://in.pycon.org/2018/faq.html) page will remain the same?

[2018-04-03 07:53] inovizz commented on #42
@akshitac8 - It may defer, allow us some time to come back with exact timings.

[2018-04-03 09:51] realslimshanky commented on #42
@akshitac8 please subscribe to [PyCon India mailing list](https://mail.python.org/mailman/listinfo/inpycon) so you receive all the updates as they happen.

[2018-04-03 10:49] akshitac8 commented on #42
Ohkay @inovizz, for now, I will keep the same timing and @realslimshanky I have already subscribed to the list. :slightly_smiling_face:

[2018-04-03 15:53] akshitac8 commented on #42
I have made the required changes.
Kindly review the changes :slightly_smiling_face:

[2018-04-03 16:01] ananyo2012 commented on #42
Hi @akshitac8 I will review the changes shortly. Thanks for your contribution.

[2018-04-03 17:05] ananyo2012 commented on #29
@chirag200666 @realslimshanky We should add Disqus for adding comments directly in the FAQ page. What do you say ?

[2018-04-03 18:31] bhansa commented on #39
I think we can refer [pycon 2017](https://in.pycon.org/2017/) website for this @realslimshanky.

[2018-04-03 19:49] realslimshanky commented on #39
@bhansa I guess that's what @juggernaut451 used to fix the issue in #40

[2018-04-03 19:54] realslimshanky commented on #29
Disqus also brings a lot of other dependencies with it like google analytics and other js which we might not be ready to include. We need to Disqus this further. Other options which I would suggest.

- Adding only those questions which are frequently asked on `contact@in.pycon.org` to FAQ
- Adding a custom made comment feature as an alternative to Disqus.

cc: @ananyo2012 @chirag200666

[2018-04-04 05:35] ananyo2012 commented on #29
@realslimshanky Custom made comment feature sounds good to me. But we would need a backend for that. This is a static website originally. We need to move it to a backend framework like Flask or Django.

[2018-04-04 11:29] realslimshanky commented on #29
@ananyo2012 true that. So, we have Disqus and questions from `contact@in.pycon.org`. Any other way you can think of?

[2018-04-04 12:44] #39 closed

[2018-04-05 14:26] ananyo2012 commented on #41
@akshitac8 You can take up this PR in the mean time we are working on the CFP. Just add this text `Link for submitting Proposal will be added soon.`

[2018-04-05 14:30] realslimshanky commented on #27
It would look cleaner this way. I guess we should create an issue regarding this.

[2018-04-05 14:48] ananyo2012 commented on #29
Updating questions every time from `contact@in.pycon.org` can be tough. Disqus can help visitors to see the questions that are being asked there directly.

[2018-04-05 14:56] ananyo2012 commented on #27
Yup we should make a new issue for this. Should we close this as the FAQ page looks good with the indentation of Question and Answers as per me ?

[2018-04-05 14:59] ananyo2012 opened #51 "Use Accordian style Q & A's in FAQ page"
Should we use a accordian style for Q & A's in FAQ page? That would avoid longer scrolling in case the number of questions increases. Suggestions welcome regarding this.

[2018-04-05 16:29] akshitac8 commented on #41
Ohkay @ananyo2012  I will add the changes :slightly_smiling_face:

[2018-04-06 04:30] realslimshanky commented on #27
Sure. Let's close this and shift conversation regarding this issue to #51

[2018-04-06 05:46] tushar-nitave commented on #51
Seems like a good idea!

[2018-04-06 05:59] tushar-nitave opened #53 "Alignment in FAQ Page"
![faq](https://user-images.githubusercontent.com/16978916/38405449-8a9d2f34-398d-11e8-9464-fa895c766aac.png)

Time should be on the same line. Can I fix this?

[2018-04-06 13:17] tushar-nitave commented on #53
Sure.

[2018-04-06 15:59] tushar-nitave commented on #51
Yeah. I will start working on it.

[2018-04-08 16:53] akshitac8 commented on #41
Hello, @ananyo2012  I wanted to ask about the changes as they are not displayed on the site. Are the changes not correct ??

[2018-04-09 06:48] ananyo2012 commented on #42
Closing this as all issues regarding date and location have been resolved. Please make a new issue if any more issues are noticed.

[2018-04-09 06:48] #42 closed

[2018-04-09 06:49] ananyo2012 commented on #41
Hi @akshitac8 , the changes have been deployed now. They are live in the website.

[2018-04-09 06:51] #41 closed

[2018-04-09 07:03] ananyo2012 commented on #53
This has been fixed in #57 . Closing this.

[2018-04-09 07:03] #53 closed

[2018-04-09 12:30] vipulgupta2048 opened #59 "Title of CoC section not changed"
CoC section still has the old title when Bangalore was the venue for the conference.
Here is a link to the specific line -https://github.com/pythonindia/inpycon2018/blob/d9796169cab687c8a9ee74dccb220d48a427d230/coc.html#L10

[2018-04-09 14:46] ananyo2012 commented on #59
@vipulgupta2048 Thanks for pointing this out. We will update this.

@chirag200666 @realslimshanky Do you think we should recreate the website using a static website generator like jekyll or pelican since these things are really becoming redundant? Since the content is not too large migrating shouldn't be difficult.

[2018-04-09 15:02] #59 closed

[2018-04-09 15:43] vipulgupta2048 commented on #59
I can/want to help with that, I used to work on the same structure back in PyCon 2017. Would love to contribute more.

[2018-04-09 20:31] realslimshanky commented on #59
@vipulgupta2048 it has already been fixed in #60

[2018-04-10 12:07] chirag200666 opened #61 "Start ticket sales"
The ticket sales should start as soon as possible.

@ananyo2012
Some of the code has been commented for ticket pricing options & buy button, can you please explore if can use that and coordinate with Gokul to make it live.

[2018-04-10 12:10] chirag200666 opened #62 "launch the CFP website"
The CFP portal should accept applications and people should be able to vote.

The website should have a link to the portal as well as mentioned in issue #25

[2018-04-12 22:06] utkarsh2102 opened #63 "Hover Effect on Social Media Icons."
It'd be great to add a hover effect on the social media icons.
Their shade would get darker when hovered.
Can I take up this task?

[2018-04-12 22:07] realslimshanky commented on #63
@utkarsh2102 please do. ping here with the PR or if you have any issue. thanks :)

[2018-04-12 22:13] utkarsh2102 commented on #63
Sure @realslimshanky.
I'd submit the PR on 16th April, positively.

[2018-04-13 18:54] utkarsh2102 commented on #63
@realslimshanky.
Please refer to PR #64 for this issue.

[2018-04-14 14:34] ananyo2012 commented on #63
Thanks for your contribution @utkarsh2102 . Resolved in #64 .

[2018-04-14 14:34] #63 closed

[2018-04-14 14:36] ananyo2012 commented on #51
Submitted in #56 . Let us wait for comments from others. Then we can replace the existing FAQ page with the new one.

[2018-04-14 14:38] ananyo2012 commented on #62
@chirag200666 Yes we can have it in the navbar. Navbar seems ok right ?

[2018-04-14 14:41] ananyo2012 commented on #61
For the time being I am adding the link with a modal opening on click.

[2018-04-14 17:02] ananyo2012 commented on #62
I have figured out how to open the talk submission in junction repo. So once the CFP team is finalized with the Talk types we will be ready to roll.

[2018-04-14 22:08] ananyo2012 commented on #8
Closing this as this looks to be fixed. Open if it is reproduced again.

[2018-04-14 22:08] #8 closed

[2018-04-15 14:26] vipulgupta2048 opened #68 "[Urgent] Update/Delete all unused media"
Due to recent changes in the venue, I think some of the media in the /icons and /img folder have become redundant. As it was either used for the conference being held in Bangalore or as dummy content. Favicons for the website need to be updated too if not done already.

[2018-04-15 15:04] tushar-nitave commented on #68
Are you taking up the task?

[2018-04-15 16:26] ananyo2012 commented on #68
Yeah the favicons of different dimensions have to be updated. We have the
updated psd of the logo. This is a design task though. If anyone is
interested in taking up the task I can share the psd or else we have to
reach out @webchirpy for this.

On Sun 15 Apr, 2018, 8:34 PM Tushar Nitave, <notifications@github.com>
wrote:

[2018-04-16 19:54] realslimshanky commented on #68
Please go ahead @parthsharma2 and create a PR.

[2018-04-18 12:13] rajataaron commented on #62
Can we design CFP and tickets button like this on the front so everybody can see them easily? Rather put them in the drop-down.
![pycon india 2018 in hyderabad october 5th to 9th](https://user-images.githubusercontent.com/7890954/38931153-e26de572-432f-11e8-8ffe-10f584a0adf7.png)

[2018-04-18 13:58] realslimshanky opened #70 "Redesign CFP and tickets buttons"
As [suggested](https://github.com/pythonindia/inpycon2018/issues/62#issuecomment-382365517) by @rajataaron, CFP and Tickets buttons can be redesigned for a clear visibility. He also gave a sample.
![image](https://user-images.githubusercontent.com/10004530/38936574-b5662a62-433e-11e8-9a6e-2f930bc7ac8e.png)

[2018-04-18 13:59] realslimshanky commented on #62
@rajataaron please go ahead. I've added an issue for you. https://github.com/pythonindia/inpycon2018/issues/70

[2018-04-18 16:49] ananyo2012 commented on #70
The current ticket button present look like this (The code is commented out now)
![screenshot from 2018-04-18 22-16-52](https://user-images.githubusercontent.com/10486343/38946243-7d9e6244-4356-11e8-829d-33276c43d368.png)
Though @rajataaron's design looks good as well!

[2018-04-18 16:53] ananyo2012 commented on #25
Suggestions moved to #70 . This can be closed

[2018-04-18 16:53] #25 closed

[2018-04-19 01:51] ananyo2012 opened #71 "Add a CONTRIBUTION.md file for adding contribution guidelines"
It will be good to have Contribution guidelines for the repo. I am working on this.

[2018-04-19 03:39] rajataaron commented on #70
@ananyo2012  if it is already done then it is ok and this looks nice and clean too. :+1:

[2018-04-19 14:30] ananyo2012 commented on #70
Yeah most of the code is ready. It's just commented out
ᐧ

On Thu, Apr 19, 2018 at 9:09 AM, Rajat Saini <notifications@github.com>
wrote:

[2018-04-19 18:52] ananyo2012 commented on #70
Solved in #67

[2018-04-19 18:52] #70 closed

[2018-04-19 18:53] ananyo2012 commented on #62
The buttons are ready with a coming soon message. Once CFP is ready we can put the links.

[2018-04-19 18:55] ananyo2012 commented on #27
The present design is ok and preferred by everyone. So this can be closed now.

[2018-04-19 18:55] #27 closed

[2018-04-20 14:30] #68 closed

[2018-04-23 07:42] ananyo2012 commented on #29
Good idea. Can you check the faq html elements and add that code in a
snippet in readme?

On Mon 23 Apr, 2018, 9:48 AM Joy Bhalla, <notifications@github.com> wrote:

[2018-04-23 07:51] JoyBhalla commented on #29
Will do,tonight or by tomorrow

[2018-04-25 16:45] realslimshanky commented on #29
@JoyBhalla any updates on this issue?

[2018-04-26 11:01] realslimshanky commented on #29
@JoyBhalla no worries. Ping here when you are done.

[2018-04-27 22:21] utkarsh2102 opened #73 "Hover Effect on Social Media Icons in Volunteer's Page (in reference to #64)"
In reference to #64, which was merged 2 weeks back, a new Volunteer's Page has been added which needs Hover Effect like the other pages.

[2018-04-28 13:28] JoyBhalla commented on #29
@ananyo2012 can you please specify what the html elements are i'm a little confused.

[2018-04-29 07:49] #71 closed

[2018-04-29 07:52] ananyo2012 commented on #73
Closed by #74

[2018-04-29 07:52] #73 closed

[2018-04-29 07:54] ananyo2012 commented on #29
[code]

I was referring to this block @JoyBhalla

[2018-05-06 06:07] RatanShreshtha commented on #44
I would like to setup CI/CD for the website.

[2018-05-06 07:32] ananyo2012 opened #76 "Add Speaker Description section for Keynote Speakers"
We want to show a modal/pop-up on clicking over the Keynote speaker image that contains the description of the speaker with the links to his bios. The Keynote speaker section is currently commented out
https://github.com/pythonindia/inpycon2018/blob/master/index.html#L160-L199

You may want to show a mockup before starting the work

[2018-05-06 07:39] ananyo2012 opened #77 "Add Talk description section for Talks"
We want to add a modal/pop-up containing the description of the talk and the speaker description. When someone clicks over a talk in the schedule he/she should be able to see the pop-up. The section for the conference schedule is presently commented out https://github.com/pythonindia/inpycon2018/blob/master/index.html#L202-L669

Presently the schedule is all hard-coded. To make it simpler, you nee

[2018-05-06 07:47] ananyo2012 opened #78 "Add Sponsor description sections"
We want to display the description of the sponsors on a modal/pop-up on clicking over their logos. Currently the code is commented out
https://github.com/pythonindia/inpycon2018/blob/master/index.html#L689-L735

You may want to show a mockup before starting the work

[2018-05-06 09:04] vipulgupta2048 commented on #78
@ananyo2012 We have a similar thing working out in PyCon 2017's website. I helped design that section. We could integrate the same code here. It needs to be a bit DRY though. The entire site was hard-coded and I had no choice but to reiterate each time a new sponsor is added.
Check it out here - https://in.pycon.org/2017/
I can work on this.

[2018-05-06 09:09] vipulgupta2048 commented on #76
I want to suggest something different.
Since every keynote speaker gets their own blog post (or would get one.) I say we link their particular section to the said blog post for their descriptions, and social media links. On the website though, we can add either a hover effect on Keynote Speaker's image for their respective social media links. Or have the links shown below their names. Whatever wor

[2018-05-06 09:14] ystanwar commented on #76
I think we should go with a consistent design for every speaker .we should have a brief intro and then we might add links to their respective social media handles.

[2018-05-06 10:11] ananyo2012 commented on #78
On Sun 6 May, 2018, 2:34 PM Vipul Gupta, <notifications@github.com> wrote:

Yeah feel free to do it in a more appropriate way. It doesn't need to be
hard coded. You can just parse it from a json.

[2018-05-06 10:18] ananyo2012 commented on #76
On Sun 6 May, 2018, 2:44 PM Yuvraj, <notifications@github.com> wrote:

Ok I am not aware if we have to publish a blog post for each Keynote. If
that's so we can proceed the way you suggested.

[2018-05-06 16:01] dbads commented on #77
yeah.. that would be awesome :+1:

[2018-05-07 03:12] thisisayush commented on #76
How about the Hovercards? If you click/hover on the speaker's avatar, you get a card containing his/her name, brief description and media handles?
somewhat similar to:
<img src="https://cdn.dribbble.com/users/31114/screenshots/1438932/marvel-hover-cards.png" />

[2018-05-07 03:15] thisisayush commented on #77
Last year, I worked on creating the scraper for fetching the talk details from the proposals page and storing
 it in JSON, instead of manually creating a JSON File. Once we have the JSON file, we can read it from there and show the popup. But will it not decrease the SEO?

[2018-05-07 05:14] chirag200666 opened #80 "Suggested updates in FAQs"
Hi @pythonindia/pycon-2018-team
Below are some of the changes I think will be good to update on the FAQ page of the website:
1. Q. Where can I find updates related to PyCon India 2018?
We can remove the IRC channel & put twitter there.

2. Q. I want to present a talk/workshop at the conference. What should I do?
We can add the link to the CFP page now.

4. Q. I want to volunteer for the conference

[2018-05-07 12:34] vipulgupta2048 commented on #80
I totally agree with point 1, I think Twitter will be the best for updates and the mailing list too.
For question 4, I think a blog post similar to this could be made - https://in.pycon.org/blog/2017/travel-and-hotel-2017.html

[2018-05-07 14:46] ananyo2012 commented on #80
We can probably add the link for the volunteer page in Q3. For Q4 I was thinking if we can put a dedicated page similar to https://us.pycon.org/2018/venue/ . People often don't go through all blog posts. We should have a dedicated page for Travel and Accommodation help.

[2018-05-07 14:49] ananyo2012 commented on #77
@thisisayush Can we reuse the scraper? That would really save time for collecting the data. I guess the SEO won't must be affected since the main part of SEO are the schema markups and the meta data. We will make a json-ld doc with the markup. Will create a separate issue for that.

[2018-05-07 14:52] ananyo2012 commented on #76
@thisisayush This looks really good. But the images are in rectangular boxes rather than circular. So you may need to see how this looks on the present design. Can you try reducing the size of image and a bit and implement to see how it looks?

[2018-05-07 14:55] ananyo2012 opened #81 "Improve the SEO of the website"
We need to add keywords in meta tags and create a schema markup to improve the SEO of the website.

[2018-05-07 15:02] ananyo2012 commented on #81
@inovizz is working on this

[2018-05-09 03:54] dixitchopra commented on #80
I can tak this up.

[2018-05-12 12:02] thisisayush commented on #76
@ananyo2012 I didn't understand what you meant. Can you elaborate or rephrase it?

[2018-05-12 12:05] thisisayush commented on #77
@ananyo2012 I can re-write the scraper for the purpose, that's not an issue.
I didn't know about JSON-LD, after a quick google it seems the key I have been missing with using JSON for data in static websites while considering SEO.

[2018-05-13 06:17] ananyo2012 commented on #76
Just uncomment the part of code I mentioned in the issue description and you can see what I meant. There is already Keynote speakers section. It's just commented out. The design you showed above is good for general speaker descriptions. This issue is exclusively for the keynote speakers.

[2018-05-14 06:41] bhansa opened #82 "Pycon hyderabad 2018 logo showing up in older blog posts"
I see that even blog posts from 2017 have PyCon Hyderabad 2018 logo, at both header and footer.
Is this expected?

![image](https://user-images.githubusercontent.com/9723884/39981581-c8a37af0-576e-11e8-9e26-5879f3e0d040.png)

[2018-05-14 06:50] vipulgupta2048 commented on #82
Hi @bhansa, since the blog site being a single page website, then this kind of behavior that you reported looks normal to me. Scroll down the logo ain't going anywhere even if you reach PyCon India 2016 Blog posts.

[2018-05-14 14:14] ananyo2012 commented on #82
Yeah @vipulgupta2048 is correct. Every year the design of the blog is changes w.r.t to the theme of the website.

[2018-05-15 04:06] a2un commented on #78
Taking it up

[2018-05-15 16:59] vkmrishad opened #83 "Background heading is not rendered correctly in mobile"
Hi,
I have noticed an issue. Background header is not rendered correctly in mobile.
Please remove from mobile or optimize heading according to screen resolution.

![screen shot 2018-05-15 at 10 22 43 pm](https://user-images.githubusercontent.com/18536460/40071781-6abf4e24-588f-11e8-9710-bd3f74903f14.png)

[2018-05-17 13:06] felsen opened #84 "Journey of Pycon India 2009 / 2012 content changes:"
PyCon 2009 and PyCon 2012 short description looks same.

![image](https://user-images.githubusercontent.com/7158481/40179147-318a9230-5a01-11e8-9484-7b4f1b5e300b.png)

[2018-05-18 05:58] vipulgupta2048 opened #85 "[Feature] Convince my Boss"
Professionals wanting to come to the conference would need to `Convince their Boss` to grant them leave application. We would like to help them by crafting a letter highlighting how important attending PyCon India 2018 would be for both their personal and professional growth, not to mention it's a glorious chance to be a representative of the company, on the forefront of the Python Community.

Ple

[2018-05-18 05:59] vipulgupta2048 commented on #85
I am taking this up.

[2018-05-18 06:42] bhansa commented on #82
I think we can close this issue, if its expected @vipulgupta2048 @ananyo2012

[2018-05-18 07:01] #82 closed

[2018-05-18 07:08] bhansa opened #86 "[Feature] Share bar ribbon"
We should have a share bar ribbon, as we have share bar on [PyCon 2017](https://in.pycon.org/2017/) website. It gives ease for people to share the event details on social media.

Please share your thoughts about the design, placement etc.

[2018-05-18 09:32] vipulgupta2048 commented on #86
That's a good idea, can you share us a screenshot of what you are trying to accomplish and if you like to take up this task?

[2018-05-18 09:39] bhansa commented on #86
Sure @vipulgupta2048, I'll own this one and will share the implementation later today.

[2018-05-18 10:07] RatanShreshtha commented on #44
@ananyo2012  I have opened a new PR regarding the issue please let me know if any updates are required.

[2018-05-19 08:20] GauravJain98 opened #88 "The timeline buttons are not needed in full screen"
![screenshot-2018-5-19 pycon india 2018 in hyderabad october 5th to 9th](https://user-images.githubusercontent.com/19913130/40266576-87b135b8-5b6b-11e8-9fbd-edf8e7d195a7.png)
the arrow buttons should be hidden in full screen

[2018-05-19 13:54] HarendraSingh22 commented on #84
Oh ! This is a blunder 😂.

@ananyo2012 tag someone who was at that Pycon and request him/her to write something about it.

[2018-05-19 18:08] vipulgupta2048 commented on #84
Well, @nibrahim I think you could enlighten us on the same. As to how PyCon India 2009 and 2012 were.

[2018-05-19 21:25] realslimshanky commented on #86
@bhansa any update on this issue?

[2018-05-19 21:26] realslimshanky commented on #85
@vipulgupta2048 any update in this issue?

[2018-05-19 21:27] realslimshanky commented on #83
@vkmrishad thanks for creating the issue. Would you like to help to fix this as well?

[2018-05-19 21:27] realslimshanky commented on #78
@a2un any update on this issue?

[2018-05-19 21:28] realslimshanky commented on #76
@thisisayush any update on this issue?

[2018-05-20 04:51] GauravJain98 commented on #88
When I opened it on my desktop I thought it was a bug (them not functioning)and realised it purpose on a smaller screen

[2018-05-20 04:52] GauravJain98 commented on #88
We can have a
if(window.outerWidth > screensize){
Buttons disabled
}

[2018-05-20 07:26] vipulgupta2048 commented on #85
I posted the same on Discord #general. Reposting
Convince my boss is ready. I would need some details of the final ticket prices, hence waiting for the ticket sales to open. With that I can make the whole package look even more lucrative for the `boss`
We could send it on the mailing list for a final go-through then deploy it wherever we need.

[2018-05-21 05:32] bhansa commented on #83
@vkmrishad are you working on this issue?

[2018-05-21 06:28] vkmrishad commented on #83
Hi @bhansa,
I am not working on this issue.

[2018-05-21 14:18] ananyo2012 commented on #83
I would suggest removing the background text for mobile views.

[2018-05-21 14:26] ananyo2012 commented on #88
Yeah we should remove the arrows for large and medium screen dimensions. Its only required for smaller screen widths.

[2018-05-21 14:29] ananyo2012 commented on #85
Can we push the doc to the mailing list with a placeholder for ticket price ? Also where do we put this? Let us finalize that.

[2018-05-21 14:38] ananyo2012 commented on #84
I just read through the content for each year. The tagline is same for years 2009-12 and same for year onwards. The only mistake is the text "first" should be made "fourth"

[2018-05-21 14:39] ananyo2012 commented on #81
@inovizz Any update on this ?

[2018-05-21 14:40] ananyo2012 commented on #80
I am taking this up. This is a priority issue.

[2018-05-21 14:41] ananyo2012 opened #90 "Add Keynote speakers to the website"

[2018-05-21 14:45] ananyo2012 opened #91 "Add a venue page describing the venue"
This should be some what similar to https://us.pycon.org/2018/venue/ . Approach the local volunteers for details regarding the venue for accommodation details etc. You can contact them in discord channel.

[2018-05-21 21:26] vipulgupta2048 commented on #91
@ananyo2012 I would suggest letting someone from the local community of HydPy to take this up, there will be a ton of fine details that need to be mentioned. I highly recommend if the person assigned is from Hyderabad only.

[2018-05-22 02:37] ananyo2012 commented on #91
Yeah sure I will fill in the details from a localite only. Then create a
doc with the details.

On Tue 22 May, 2018, 2:56 AM Vipul Gupta, <notifications@github.com> wrote:

[2018-05-22 05:04] rajataaron commented on #90
Is anybody doing this?

[2018-05-22 07:00] vipulgupta2048 commented on #90
@rajataaron Looks like @ananyo2012 has assigned himself to the issue, hence he would surely be solving it in a few days.

[2018-05-23 02:43] ananyo2012 commented on #90
Yeah I am on it. The code is already there. Just need little tweaks and resizing the images.

[2018-05-23 07:10] bhansa commented on #81
related: https://sitechecker.pro/seo-report/https://in.pycon.org/2018
Let's address these observations as well, like multiple `<h1>` tags and few more.

[2018-05-23 07:26] bhansa opened #94 "[Analytics] Tag management for this website"
I see that we are using GTM for tagging here, It will be very important to get at least the analytics of the page and doing the tagging right way.
Events which will be important later like, no. of click on "Buy tickets" CTA or how many people are getting redirected successfully to other links and the ticket website.

Let me know what is the approach for this.

[2018-05-23 07:52] ananyo2012 commented on #94
Should we use url shorteners for this?

On Wed 23 May, 2018, 12:56 PM Bharat Saraswat, <notifications@github.com>
wrote:

[2018-05-23 08:07] bhansa commented on #94
Not sure about how much data does URL shorteners give, since gtag is already in place for a long time and we should have captured previous data as well (need to check with @chirag200666 ).

Also, I think URL shorteners can be used for links shared on the web but not sure if we can use the same for the website (internal or external links) as well, plus gtag will give the flexibility to update dataL

[2018-05-23 08:11] bhansa commented on #81
@ananyo2012 are we using `sponsorship.html` page anywhere?

[2018-05-23 08:27] inovizz commented on #81
@ananyo2012 I'm little occupied this week, so will probably finish this over the weekend or early next week.

[2018-05-24 01:39] ananyo2012 commented on #81
On Wed 23 May, 2018, 1:41 PM Bharat Saraswat, <notifications@github.com>
wrote:

No we aren't using it anywhere Now. But we may use it once sponsors are
announced.

[2018-05-24 01:40] ananyo2012 commented on #81
On Wed 23 May, 2018, 1:57 PM Sanchit Balchandani, <notifications@github.com>
wrote:

Thanks Sanchit

[2018-05-24 17:49] #86 closed

[2018-05-24 18:48] a2un commented on #78
@realslimshanky  working on it. was occupied with some exams and test I had enrolled for. Should be able go give updates over the weekend

[2018-05-24 18:55] ananyo2012 commented on #76
@thisisayush We need this feature now. Did you make any progress on this? This is a priority issue now.

[2018-05-25 02:11] thisisayush commented on #76
I've started the work and will submit the PR in a day or two, latest ny Sunday.

[2018-05-27 16:13] a2un commented on #78
@everyone. Please find the mock up. to test please replace the "index.html" in local, place the sponsor.js in js folder and create a new folder in the project as "assets" and place the sponsors.json inside that

https://github.com/a2un/testfiles

[2018-05-27 17:07] ananyo2012 commented on #78
@a2un Can you create a gh-pages branch for the website and share the url with us? That will make it easier for us to review.

[2018-05-27 20:39] ananyo2012 opened #98 "Price table for PyCon India tickets"
We want a price table similar to this to show the pricing of tickets in the website
![screenshot from 2018-05-28 02-08-03](https://user-images.githubusercontent.com/10486343/40590418-1d85d664-621c-11e8-9e77-f295eba61e92.png)

[2018-05-27 20:40] ananyo2012 commented on #98
This is just a mockup. Actual design can be different.

[2018-05-27 20:42] #80 closed

[2018-05-27 21:14] ananyo2012 commented on #85
@vipulgupta2048 Can you share the link to the doc ?

[2018-05-27 21:17] ananyo2012 commented on #84
Fixed in #93

[2018-05-27 21:17] #84 closed

[2018-05-28 08:12] vipulgupta2048 commented on #85
How about putting it up on the mailing list too. I would like to get it reviewed there too.

[2018-05-28 08:26] vipulgupta2048 commented on #88
@GauravJain98  Any updates on the issue or please notify if you are working on it ?

[2018-05-28 08:27] vipulgupta2048 commented on #83
@bhansa  Would like to take this up? then go ahead with it, make a pull request for the same.

[2018-05-28 08:30] vipulgupta2048 commented on #29
@ananyo2012 Should we close this now?

[2018-05-28 11:41] chirag200666 opened #99 "Update ticket link on the website."
The tickets are live at: https://in.explara.com/e/pycon-india-2018
It needs to be linked to the tickets button.

[2018-05-28 13:35] ananyo2012 commented on #85
Sure please go ahead and send it to the mailing list

On Mon 28 May, 2018, 1:42 PM Vipul Gupta, <notifications@github.com> wrote:

[2018-05-28 13:39] ananyo2012 commented on #98
It would be at the bottom of the website. I will be working on it now.
Keeping a separate page for it won't make any sense since it won't have
much content

On Mon 28 May, 2018, 1:53 PM Vipul Gupta, <notifications@github.com> wrote:

[2018-05-28 13:41] ananyo2012 commented on #91
Yes we discussed about it. I will taking help from from the HydPy team in
this and adding the content.

On Mon 28 May, 2018, 1:55 PM Vipul Gupta, <notifications@github.com> wrote:

[2018-05-28 13:44] ananyo2012 commented on #99
There is already an open issue regarding this. Closing this and moving the
link there.

On Mon 28 May, 2018, 5:11 PM Chirag Choudhary, <notifications@github.com>
wrote:

[2018-05-28 14:09] #99 closed

[2018-05-28 14:10] ananyo2012 commented on #61
Tickets live at https://in.explara.com/e/pycon-india-2018 . Update it in the website

[2018-05-28 14:11] ananyo2012 commented on #29
I am keeping it open for the discord discussion. Should I make a specific issue for that ? Also some more FAQs need to be added.

[2018-05-29 10:10] #61 closed

[2018-05-29 10:10] #98 closed

[2018-05-29 13:33] bhansa opened #102 "[Enhancement] Buttons UI update"
Currently, the UI of buttons is looking dull with a gray border, all the CTA's should be in either in Flat UI or classic UI design with better color contrast and shadow elevation from the body.

I will share the preview soon.

[2018-05-29 13:45] ananyo2012 commented on #102
Hi Bharat, there shouldn't be a grey border. I guess this is a caching
issue. Can you try hard reloading or opening in a incognito window? If it
still doesn't work can you share the screenshot of the bug?

On Tue 29 May, 2018, 7:03 PM Bharat Saraswat, <notifications@github.com>
wrote:

[2018-05-29 14:02] bhansa commented on #102
you're right @ananyo2012, now I see the different design, previously they were looking as disabled. Let's see if we can still change something there otherwise I'll close this issue.

![image](https://user-images.githubusercontent.com/9723884/40663284-f8cf4552-6375-11e8-8bcf-998c29b53ae1.png)

[2018-05-29 15:03] Pradhvan opened #106 "Missing keynote speaker for PyConIndia 2009"
In the journey section of PyCon India website keynote speaker of PyCon India 2009 is missing.

[2018-05-29 15:07] Pradhvan commented on #106
I took the liberty and created a PR #105. I followed this [blog](https://www.agiliq.com/blog/2009/10/pycon-india-2009-a-review/) which seems promising to me.

[2018-05-29 17:21] #106 closed, assigned to nobody

[2018-05-30 14:22] #83 closed

[2018-05-31 07:09] vipulgupta2048 opened #107 "Suggestion to add more details to ticket table"
As I was going through the tickets table, the most common question that I had in mind was what the ticket would include. And I am sure everyone does. I think we should add more details that are confirmed under the tickets table so people could understand the value.
- Maybe add a link to Convince My Boss there. I am still not sure where it should be added. I think this place would be the most appro

[2018-05-31 11:35] ananyo2012 commented on #107
On Thu, May 31, 2018 at 12:39 PM Vipul Gupta <notifications@github.com>
wrote:

what a conference/workshop ticket would include. Do we need to add it here
?

the table ?

[2018-05-31 12:26] vipulgupta2048 commented on #107
It's just a suggestion, I was thinking to maybe add the blog link below the **table** (The Price Table of tickets here - www.in.pycon.org/#tickets)

[2018-05-31 21:11] vipulgupta2048 commented on #107
Should I add it?

[2018-05-31 21:15] vipulgupta2048 opened #110 "Updation of Nav-Bar and other fixes"
- Nav bars are needed to be updated on the website with the pages of Speakers as well as tickets.
- Convince my Boss is to be added to the Share bar Ribbon or drop-down menu (Discuss)

[2018-05-31 21:18] #90 closed

[2018-05-31 21:19] vipulgupta2048 commented on #90
Fixed #90 in #96

[2018-06-01 14:39] ananyo2012 commented on #110
Speakers is done

[2018-06-01 14:42] ananyo2012 commented on #107
Ah I guess we have included all the information the blog contains in the table already. But adding convince the link to convince my Boss is fine.

[2018-06-01 14:45] ananyo2012 commented on #102
@bhansa Do you want to add something to this or we can close this ?

[2018-06-01 14:46] ananyo2012 commented on #88
I guess this is open to take up since its already been over an week.

[2018-06-01 14:55] ananyo2012 commented on #78
@a2un Any update on this?

[2018-06-01 14:56] ananyo2012 commented on #78
I was thinking if we should move the sponsor descriptions to a separate page instead of a modal. There is already a `sponsorship.html` page. We can add content to that.

[2018-06-01 15:06] ananyo2012 opened #111 "Create a dedicated page for all speakers"
Since all speakers are working hard to write their proposals and present them, it is worth making a page for all speakers with their image and bio and link their proposals to it. CFP team will collect the images and bio for us after proposal selection in over.

[2018-06-01 17:22] bhansa commented on #102
sorry @ananyo2012 I got busy, will share the preview soon.

[2018-06-02 00:16] vipulgupta2048 commented on #110
Cool, I am on it.

[2018-06-02 00:18] vipulgupta2048 commented on #107
Cool, I have added the link in my PR. Thanks for your consideration.

[2018-06-02 00:18] #107 closed

[2018-06-03 13:36] a2un commented on #78
PR #113

[2018-06-03 14:45] ananyo2012 opened #115 "Update the content of share bar ribbon to promote ticket Sales"
We want users who come in the website to promote about ticket sales from the share bar ribbon directly. We need to update content as per that.

[2018-06-03 14:47] ananyo2012 opened #116 "Fix the border for keynote speakers"
Here is the screenshot presently
![screenshot from 2018-06-03 20-16-28](https://user-images.githubusercontent.com/10486343/40887768-07050384-676b-11e8-8edf-f42210e30a10.png)

The alignment of the border doesn't look good for all images. So let us just keep it simple and put the border around the image instead of shifting it.

[2018-06-04 20:43] realslimshanky commented on #76
@thisisayush looks great buddy.

[2018-06-04 21:19] realslimshanky commented on #115
Any suggested write-up contributors should use in their PR?

[2018-06-04 21:21] realslimshanky commented on #116
@ananyo2012 someone might also try putting a background behind Travis's picture to see if it makes it even.

[2018-06-04 21:33] realslimshanky commented on #29
@ananyo2012 we can always edit the issue title and description to our needs which is always better than creating a new issue.

[2018-06-04 21:34] realslimshanky commented on #91
@ananyo2012 any update on this issue?

[2018-06-04 21:35] realslimshanky commented on #85
Referencing this issue to the PR #108

[2018-06-04 23:11] callowidealist commented on #116
@realslimshanky i think grey might look much attractive than black .

[2018-06-05 03:03] vipulgupta2048 commented on #116
Would it affect the animation that @thisisayush is working on for Speaker Description.
Ps. I think the borders are all right.

[2018-06-06 16:40] a2un commented on #88
Okay taking it up!

[2018-06-06 17:51] vipulgupta2048 commented on #111
After Keynote speaker images, how about a button "Show more" that takes the user to another page having all the speakers

[2018-06-06 17:53] RaiVaibhav commented on #44
@ananyo2012  can we use just netlify for CI ? instead telling everytime travis to do so?

[2018-06-06 17:53] RaiVaibhav commented on #44
here is a example https://dazzling-easley-60a68d.netlify.com/volunteer.html

[2018-06-06 18:01] RaiVaibhav commented on #44
Just change it to `deploy all the branches` and it will deploy on every PR, so everytime if any one make new changes in a PR, anyone can preview it easily.

[2018-06-07 00:53] a2un commented on #111
Taking this up!

[2018-06-07 01:14] a2un commented on #88
Hi could you confirm if the issue is open.

[2018-06-07 01:14] a2un commented on #111
Hi could you confirm if the issue is open

[2018-06-07 01:19] a2un commented on #88
I think the arrow is appearing because there is an extra space _before_ the 2009. we update the timeline without a lot space the arrow should go

[2018-06-07 02:42] ananyo2012 commented on #88
Hi Arun,
In case you figured out a solution can you submit a PR ?

On Thu, Jun 7, 2018 at 6:49 AM Arun Balajiee <notifications@github.com>
wrote:

[2018-06-07 02:43] ananyo2012 commented on #111
Yup this issue is open. You can take this up.

On Thu, Jun 7, 2018 at 6:44 AM Arun Balajiee <notifications@github.com>
wrote:

[2018-06-07 02:45] ananyo2012 commented on #111
Vipul, this is not the same as the CFP page. It will contain the Speakers
image, bio and links, somewhat more attractive and showcasing the speakers.
It will also link to the CFP page.

On Thu, Jun 7, 2018 at 8:12 AM Ananyo Maiti <ananyoevo@gmail.com> wrote:

[2018-06-07 02:47] ananyo2012 commented on #44
Hi Vaibhav,
Due to some reason I can't open the link

On Wed, Jun 6, 2018 at 11:31 PM Vaibhav Rai <notifications@github.com>
wrote:

[2018-06-07 02:54] ananyo2012 commented on #116
I got some comments offline that the border alignment was not looking good
specially those over Travis's image. So I think its good to have properly
aligned borders.

On Tue, Jun 5, 2018 at 8:33 AM Vipul Gupta <notifications@github.com> wrote:

[2018-06-07 02:55] ananyo2012 commented on #91
Yeah I am still in the process of compiling the doc. Will send out the link
to the doc once it is done.

On Tue, Jun 5, 2018 at 3:04 AM Shashank Kumar <notifications@github.com>
wrote:

[2018-06-07 02:55] ananyo2012 commented on #29
Yeah that is good I guess

On Tue, Jun 5, 2018 at 3:03 AM Shashank Kumar <notifications@github.com>
wrote:

[2018-06-07 02:57] ananyo2012 commented on #115
Yeah can you tag someone you know who is good in writing or forward him/her
the PR ?

On Tue, Jun 5, 2018 at 2:49 AM Shashank Kumar <notifications@github.com>
wrote:

[2018-06-07 03:30] RaiVaibhav commented on #44
@ananyo2012  I didn't get, is there any problem in setting up the page on netlify, or there is some other problem, please correct me.

[2018-06-07 09:02] eddygta17 commented on #116
Did the following and posting the results.
Made the border simple.
![screenshot from 2018-06-07 13-46-19](https://user-images.githubusercontent.com/24777071/41088910-4b8fe546-6a5e-11e8-9b7a-d2798bcffb2e.png)

Changed Travis's picture and border.
![screenshot from 2018-06-07 13-57-38](https://user-images.githubusercontent.com/24777071/41088913-4be1ee7c-6a5e-11e8-8c8f-b54898a39c1b.png)

Changed just

[2018-06-07 14:01] ananyo2012 commented on #44
Hi Vaibhav, the link to the page you shared doesn't exist. That's what I
meant

On Thu 7 Jun, 2018, 9:00 AM Vaibhav Rai, <notifications@github.com> wrote:

[2018-06-07 16:11] a2un commented on #88
Sure. I am checking and working on it.

[2018-06-07 17:30] a2un commented on #88
updated the PR #113 with this commit.

[2018-06-07 17:34] a2un commented on #111
So is the idea  to introduce a show more button or make a separate page that lists all the speakers with details

[2018-06-08 04:59] omi10859 commented on #116
![screen shot 2018-06-08 at 10 25 25 am](https://user-images.githubusercontent.com/26123416/41139630-73f943da-6b06-11e8-9c1f-7dd7e0bb5373.png)

It's not responsive when opening from different screens we get different results of the border
this is what I got when opened in iPad

[2018-06-08 05:50] eddygta17 commented on #116
@omi10859 That is because position is fixed as absolute. We can try to keep the same design everywhere.

[2018-06-09 18:33] ananyo2012 commented on #116
@eddygta17 I like [this version](https://user-images.githubusercontent.com/24777071/41088910-4b8fe546-6a5e-11e8-9b7a-d2798bcffb2e.png) . Don't use a different image of the speaker whatsoever. The image is given to us by the speaker himself. The border is breaking in one of the screen width. We need to fix that as well.

[2018-06-09 18:35] ananyo2012 commented on #110
@vipulgupta2048 Can you continue on this now?

[2018-06-09 18:35] ananyo2012 commented on #111
@a2un Make a separate page.

[2018-06-09 18:36] ananyo2012 commented on #102
@bhansa Any update on this?

[2018-06-09 18:38] ananyo2012 commented on #94
@bhansa Sorry I didn't get time to focus on analytics. I will be initiating the discussion on mailing list coming week and start the work on analytics soon.

[2018-06-09 18:44] ananyo2012 commented on #85
Thanks @vipulgupta2048 for your work on this. The page is now live at https://in.pycon.org/2018/convince-my-boss.html . Please update the link in the tickets blog as well. I hope this will help in improving ticket sales!

[2018-06-09 18:45] #85 closed

[2018-06-09 18:49] ananyo2012 commented on #81
@inovizz If you get time can you complete work on this ?

[2018-06-09 18:53] ananyo2012 commented on #44
@RaiVaibhav I will look into netlify and see if it works for us.

[2018-06-09 19:29] RaiVaibhav commented on #44
Following are the steps to deploy netlify on your  ``inpycon2018`` repository :

- Signup on [netlify](https://app.netlify.com/).
- Click on **New site from Git**.
- Choose **Git provider (Github) >** Choose a repository **< username >/inpycon2018**.
- Branch to deploy **master**.
- Basic build settings :
  * **None**, no need to do anything here.
- Click on **Deploy Site** to deploy the site.

Af

[2018-06-10 03:30] vipulgupta2048 commented on #110
Making a PR now.

On Sun, Jun 10, 2018 at 12:05 AM Ananyo Maiti <notifications@github.com>
wrote:

--
Cordially,
Vipul Gupta
Mixster <https://mixstersite.wordpress.com/> | Github
<https://github.com/vipulgupta2048>

[2018-06-10 05:16] vipulgupta2048 commented on #85
The ticket blog has been updated. Thanks.

On Sun, Jun 10, 2018 at 12:15 AM Ananyo Maiti <notifications@github.com>
wrote:

--
Cordially,
Vipul Gupta
Mixster <https://mixstersite.wordpress.com/> | Github
<https://github.com/vipulgupta2048>

[2018-06-10 05:59] thisisayush commented on #116
@omi10859 The absolute position bug has been fixed in #97

[2018-06-10 06:37] eddygta17 opened #121 "Text in speaker description"
Text in speaker description would be better if centered.

[2018-06-10 07:29] vipulgupta2048 commented on #121
Thanks for the prompt response @eddygta17, the changes can be done in your PR #120 only.
@ananyo2012 I think the text should be centered, in both the website and mobile if the changes in #120 are approved. What do you think ?

[2018-06-10 08:48] atisayajain opened #122 "Navigation Bar on Convince My Boss page"
Hi, I have observed that the navigation bar's properties don't change on scrolling on Convince My Boss page like the rest of the site. I am attaching a screenshot regarding the issue.

![screen shot 2018-06-10 at 2 14 43 pm](https://user-images.githubusercontent.com/19758073/41199933-d2e8f256-6cb8-11e8-824a-340a757b7c02.png)

It's a pretty easy fix and all that needs to be done is add links to JS

[2018-06-10 11:14] aaqaishtyaq commented on #122
hey @atisayajain are you working on this?

[2018-06-10 11:54] atisayajain commented on #122
@vipulgupta2048 Sure, I will add the PyCon India logo as well. Also, I have observed that there is no favicon icon for this page so I am adding links for that as well.

@aaqaishtyaq Yeah, I am working on this.

[2018-06-11 06:19] ananyo2012 commented on #121
Yeah centered text looks better. We should center all keynote speaker texts.

[2018-06-11 07:00] ananyo2012 commented on #116
I actually want to wait on #97 before proceeding on this issue since it introduces a lot of css changes and also takes care of issues like the one @omi10859 mentioned and padding in medium screen width. So after it has been merged we can move on this.

[2018-06-12 03:46] ananyo2012 commented on #122
Fixed in #125

[2018-06-12 03:46] #122 closed

[2018-06-12 03:47] ananyo2012 commented on #121
Fixed in #120

[2018-06-12 03:47] #121 closed

[2018-06-12 03:47] ananyo2012 commented on #116
Fixed in #120

[2018-06-12 03:47] #116 closed

[2018-06-12 03:50] ananyo2012 commented on #44
@RaiVaibhav We don't actually want to host it on netlify since we already have a server where we have deployed the website. We want to setup a deployment script that will run after the PR is merged.

[2018-06-12 03:58] RaiVaibhav commented on #44
@ananyo2012 it's not like hosting thing, it's just like a CI/CD, which will run and deploy everytime whenever someone open a PR for changes.

[2018-06-12 03:59] RaiVaibhav commented on #44
It's like a CI/CD for peeview the changes in sites,

[2018-06-12 09:21] vipulgupta2048 opened #130 "Add download buttons to Convince My Boss"
@rajataaron suggested we should add download buttons for Convince my Boss page where users could easily download the text in .docx or plain-text format.

Hence this has been implemented in the PR #119

[2018-06-12 14:32] ananyo2012 commented on #44
Ok. Presently auto deployment to server is needed more than CI since we can
just use gh-pages for preview. We are asking everyone to include the
gh-pages link for preview.

On Tue 12 Jun, 2018, 9:29 AM Vaibhav Rai, <notifications@github.com> wrote:

[2018-06-12 14:32] ananyo2012 commented on #44
Also will it generte preview on separate links for every PR merged?

On Tue 12 Jun, 2018, 7:58 PM Ananyo Maiti, <ananyoevo@gmail.com> wrote:

[2018-06-12 15:05] RaiVaibhav commented on #44
@ananyo2012 have a look https://github.com/coala/coala/pull/5502 it is like I opened a PR then it will auto deploy (no manual trigger) and generate a preview of site with changes made in PR

For each it will generate a separate link which any can see it as it will be added as a Github Hook ( on the `check` row of github page)

[2018-06-12 17:43] ananyo2012 commented on #130
Can we use a copy to clipboard button instead of that?

[2018-06-12 17:47] ananyo2012 commented on #44
@RaiVaibhav Got it now. This is really useful. Will set it up using the steps you provided.

[2018-06-13 00:05] vipulgupta2048 commented on #130
We could but I thought having them is much better bet. People can edit the .docx in whatever way they want and use it. And anyone, in any device could easily copy the content. The reason why I didn't go for a copy to clipboard feature because of embedded links. We don't want to miss out on them.

[2018-06-13 00:06] vipulgupta2048 commented on #130
About the buttons, how would you like them?

[2018-06-13 01:49] ananyo2012 commented on #130
Can we use fontawesone icons instead? They look much better. Let me find
some good icons that can be used here.

On Wed 13 Jun, 2018, 5:36 AM Vipul Gupta, <notifications@github.com> wrote:

[2018-06-13 07:43] #102 closed

[2018-06-13 13:27] dhavalsavalia opened #133 "Menubar toggle is not working in mobile view"
Menubar toggle is not working in mobile view.

Here are screenshots:

![screen shot 2018-06-13 at 6 57 04 pm](https://user-images.githubusercontent.com/27001046/41354054-a3e693de-6f3b-11e8-999c-b55471f48b04.png)

[2018-06-13 13:58] dhavalsavalia opened #135 "PyCon logo conflicts with current theme colour in mobile menubar"
PyCon logo has the same colour accents as of menubar background in mobile view.

Here is screenshot:

![screen shot 2018-06-13 at 7 17 37 pm](https://user-images.githubusercontent.com/27001046/41355536-6535c8a4-6f3f-11e8-8c0e-dc9773a0a7fd.png)

Suggestion:

![screen shot 2018-06-13 at 6 50 40 pm](https://user-images.githubusercontent.com/27001046/41355561-72a48318-6f3f-11e8-9f91-b8de3bac3e84.png)

[2018-06-13 17:14] #110 closed

[2018-06-14 02:55] ananyo2012 commented on #135
Yes please go ahead and fix this. This has to be done for all pages. Also use white background in navbar similar to blog.

[2018-06-14 04:20] rajataaron commented on #135
@dhavalsavalia this looks good to be please go ahead with the PR @ananyo2012

[2018-06-14 05:52] dhavalsavalia commented on #135
Yes, I have already fix the issue. Once everything is ready I'll push the code and create PR.

[2018-06-15 05:15] vipulgupta2048 commented on #130
@ananyo2012 Any updates?

[2018-06-15 06:05] vaibhavsingh97 commented on #111
@vipulgupta2048 We can make on `.json` file and then populate it on the website. Views?

[2018-06-15 17:15] ananyo2012 commented on #111
@vaibhavsingh97 Yup that's the idea. Mock design of the page is welcome

[2018-06-15 17:32] ananyo2012 commented on #130
I was travelling today. Couldn't get time to look. In the mean time if you find any good icons please use them.

[2018-06-15 18:38] vaibhavsingh97 commented on #111
@ananyo2012 Should I send PR?

[2018-06-15 21:38] vipulgupta2048 commented on #111
@vaibhavsingh97 Shoot one up, no need to ask for permission.
@thisisayush Where is the scraper script for proposals can you send a link. @vaibhavsingh97 can test it out.

[2018-06-15 21:57] realslimshanky commented on #135
@dhavalsavalia any update on the upcoming PR?

[2018-06-15 22:01] realslimshanky commented on #133
@dhavalsavalia I can see you have pushed a commit in your forked repo which contains the fix. Please create a PR for review.

[2018-06-15 22:05] realslimshanky commented on #91
@ananyo2012 any update on the issue?
We can also reach out to the inpycon mailing list with a draft.

[2018-06-15 22:06] realslimshanky commented on #115
@ananyo2012 sure. I'll reach out to folks with this issue.

[2018-06-16 05:15] dhavalsavalia commented on #133
@realslimshanky The issue has already been fixed by another contributor. See, Ananyo's comment on my PR https://github.com/pythonindia/inpycon2018/pull/134#issuecomment-397315329

[2018-06-16 07:39] vipulgupta2048 commented on #130
I got some like https://fontawesome.com/icons/download?style=solid, should I proceed?

[2018-06-16 10:34] manjeet-mehta commented on #115
I want to help with that what I can do ? #newbie 😅

[2018-06-16 17:34] tulikavijay commented on #77
Is this open? I can take it up

[2018-06-18 10:29] bhansa commented on #133
We should close this issue, if it's already fixed by someone.

[2018-06-18 17:35] #76 closed

[2018-06-18 17:58] ananyo2012 commented on #135
@dhavalsavalia I guess you are confused with the description of the bug you filed. This is only for fixing the logo color in mobile navbar. No change in links is required. Also this has to be done in all pages, which is an independent change from #134. Please go ahead and make a PR for the same.

[2018-06-18 18:02] ananyo2012 commented on #133
This isn't fixed yet. This was caused due to missing js files which is pending in #134. You changed the navbar links which wasn't required in the PR. That was what I mentioned.

[2018-06-18 18:05] ananyo2012 commented on #78
@a2un Can you go ahead with other part of the issue now ? You can follow the current keynote speaker description style for sponsors.

[2018-06-18 18:08] ananyo2012 commented on #77
@thisisayush Are you free to work on this? The first thing you need to do is to remove all the hard coded schedule code and move the data to a json file and display the schedule by parsing data from json using javascript.

[2018-06-18 18:15] ananyo2012 commented on #111
@vipulgupta2048  @thisisayush Here is a script that scrapes some basic elements https://github.com/surajnarwade/pycon-india-scripts/blob/master/voting_script/pyconspider.py . You can add to this as well

[2018-06-20 10:12] realslimshanky commented on #115
@manjeet-mehta thanks for the interest. You can start by creating messages for the ribbon and posting it here.

[2018-06-20 13:04] tulikavijay opened #138 "Ticket Pricetable is not mobile responsive"
Not sure if someone has fixed this. Found the website and this section was lacking in responsiveness.

[2018-06-21 21:12] realslimshanky commented on #138
@tulikavijay thank you for the mentioning this issue. As of now, the approach is to use a table with scrollable content which can be seen below and you might have experienced the same.
![image](https://user-images.githubusercontent.com/10004530/41745751-ab4aee0a-75c5-11e8-8e72-bb8f3bd8e950.png)

If you are facing another issue please upload a screenshot to make us understand the issue accurately.

[2018-06-22 19:29] manjeet-mehta commented on #115
like "Mark the date October 5th for the biggest conference of python in india and celebrate with us the 10th anniversary of @pyconindia"

[2018-06-23 07:34] darthgera123 commented on #130
can i work on this issue. Basically i have to create a button which downloads the application in word form right?

[2018-06-23 17:04] ananyo2012 commented on #135
@dhavalsavalia Now that #134 is merged can you do the same changes in navbar for other pages as well ?

[2018-06-23 17:07] ananyo2012 commented on #133
Fixed in #134

[2018-06-23 17:07] #133 closed

[2018-06-23 17:39] #130 closed

[2018-06-23 17:39] ananyo2012 commented on #130
This is already fixed in #137

[2018-06-23 17:42] ananyo2012 commented on #115
We should have something related to promote ticket sales. Like "buy your ticket now"

[2018-06-23 17:46] dhavalsavalia commented on #135
@ananyo2012 I have fixed the same issue in all other pages.

[2018-06-23 17:52] ananyo2012 commented on #111
@vaibhavsingh97 Any update on this ?

[2018-06-23 17:53] ananyo2012 commented on #88
@a2un Are you working on this ?

[2018-06-23 17:54] ananyo2012 commented on #78
@a2un Are you working on this ?

[2018-06-24 05:44] 2root2 commented on #138
@ananyo2012  Can I work on this? If I get it right, I'll replace table with bootstrap's col-md-6-3-3 for big screens and col-xs-12 for mobile device.

[2018-06-24 17:52] ananyo2012 commented on #138
@2root2 Yes you have to use bootstrap grids. You can take this up.

[2018-06-24 18:00] vaibhavsingh97 commented on #111
@ananyo2012 Sent PR https://github.com/pythonindia/inpycon2018/pull/141

[2018-06-27 07:36] Niveshkrishna commented on #77
@ananyo2012 is someone working on this?

[2018-06-27 17:57] 2root2 commented on #138
@ananyo2012  Please review #142

[2018-07-02 14:43] ananyo2012 commented on #138
Nice work @2root2 . Merged and deployed!

[2018-07-02 14:43] #138 closed

[2018-07-04 23:06] realslimshanky commented on #77
@Niveshkrishna there's no active person assigned to this issue. Please take it up.

[2018-07-07 06:57] #135 closed

[2018-07-08 19:19] Ayukha commented on #29
Can I take this up?

[2018-07-09 12:07] realslimshanky commented on #29
@Ayukha sure. Please go ahead and raise a PR with the requested feature. I'm assigning this issue to you.

[2018-07-12 17:20] samuellawrentz commented on #88
Hi,
I would like to contribute. Is someone working on it?
Couldn't this be done with CSS using media queries? That is, make the buttons visible only for mobile and tabs. It could be fairly simple and efficient.
[code]

[2018-07-13 03:43] vipulgupta2048 commented on #88
@samuellawrentz Sure, go for it. Make a pull request.

[2018-07-13 12:40] samuellawrentz commented on #88
I have made a PR. Please review it.

[2018-07-15 07:18] ananyo2012 commented on #78
@a2un We need a modal showing the sponsor description and links. Can you work on it ?

[2018-07-15 07:58] a2un commented on #78
Working on it..which style should this be in??
```Can you go ahead with other part of the issue now ? You can follow the current keynote speaker description style for sponsors.```
Or
[code]

So

[2018-07-16 00:35] a2un commented on #78
expect some delay in response and deliverables

[2018-07-17 02:42] ananyo2012 opened #149 "Organise navbar in website - Introduce a More dropdown"
The no of links in the navbar is increasing now. Let's make a More button and move the less visited content in that. Create a More dropdown and add Volunteer, CoC and Proposals link in that dropdown.

[2018-07-17 03:07] Rohithgilla12 commented on #149
I'll take it up

[2018-07-17 03:15] Rohithgilla12 commented on #149
<img width="977" alt="screenshot 2018-07-17 08 44 51" src="https://user-images.githubusercontent.com/19389850/42794661-b26a6b48-899d-11e8-8463-6570742c5c43.png">

We don't have proposal tab over there currently, should i add one now?

[2018-07-17 05:07] chirag200666 opened #151 "Add sponsors to the website"
Platinum
------------

- [x] **Go-Jek**
Description: https://docs.google.com/document/d/1bKBVfsFyLuB0C2pl71dO24RmyiUS6jNjIQ-ZdTxrGiw/
Logo: https://drive.google.com/file/d/1HXn-U_bBK0K2U4W7pt9TAHBDLtdGokea/

- [x] **DE Shaw**
Description: Sent in email
Logo: Sent in email

Gold
-------

- [x] **Pramati Technologies**
Description: https://docs.google.com/document/d/1Rre9s5cfoD5CxFiHUXOXgsMHGmUG7cO2

[2018-07-18 08:11] im-gozmit commented on #151
I want to work on this.

[2018-07-18 10:23] vipulgupta2048 commented on #151
Go ahead, Mayank make a PR referring to this issue.

[2018-07-19 21:19] realslimshanky commented on #151
@im-gozmit nice work Mayank. Would you like to work on the LiveHealth and GoJek issue as well?

[2018-07-19 21:41] realslimshanky commented on #78
@a2un please update about your progress.

[2018-07-21 07:41] im-gozmit commented on #151
@realslimshanky Thanks, and I am already working on Go-Jek and LiveHealth. Just pushed the PR for go-jek https://github.com/pythonindia/inpycon2018/pull/

[2018-07-28 03:32] ananyo2012 commented on #151
Testing webhook

[2018-07-29 04:38] vipulgupta2048 commented on #115
I am taking this up, getting it done and closing it.

[2018-07-29 05:06] vipulgupta2048 commented on #115
`Mark your calendars and buy your tickets for the 10th edition of India's biggest Python conference, PyCon India 2018. A 5-day mega event filled with awesome keynotes, talks, seminars, sprints, and workshops. Get your tickets now !!`

Review @ananyo2012 @realslimshanky @iambibhas (Well, within twitter limit)

[2018-07-29 05:33] vipulgupta2048 commented on #151
FOSSEE logo added in #159 and blog in https://github.com/pythonindia/inpycon-blog/pull/167
DeShaw's blog has already been added. I think this issue is done.

[2018-07-29 05:45] ananyo2012 commented on #151
Let this be open for sometime. We have more sponsors coming in. We can add them to the same issue.

[2018-07-29 05:46] ananyo2012 commented on #115
Sounds good to me. Just remove one exclamation mark at the end.

[2018-07-30 13:47] #115 closed

[2018-08-08 03:38] ananyo2012 commented on #77
I think we need to re think on this. The usual way is to just link the proposal from CFP page. Is this a good idea? Tagging @pythonindia/pycon-2018-team for suggestion

[2018-08-08 04:04] ananyo2012 opened #162 "Make Conference Schedule responsive"
Go to https://pythonindia.github.io/inpycon2018/#conference, the conference schedule is not responsive for mobile views. It is currently made of table. We need to use bootstrap grids to make it responsive. On master you need to apply changes in this commit https://github.com/pythonindia/inpycon2018/commit/e28c63cbba381079cbbd87b7b227b2d85570628d to be able to see the schedule. It's currently comme

[2018-08-08 04:19] ananyo2012 opened #163 "Improve Website load performance"
For starting we need to work on following

- [x] Make sponsor images compressed and of similar dimensions
- [x] Compress any jpeg images that can be done retaining the image visibility. Preferably make them png
- [ ] Use caching for json data. Currently we are using `sponsors.json` to load data for sponsors. We need to cache the data on first load so that on subsequent loads the website loads fast

[2018-08-08 04:27] #111 closed

[2018-08-09 03:13] vipulgupta2048 commented on #77
The usual way can be used for backup if no one takes it up.
I think parsing data from JSON would save us a lot of work and further maintenance.
I really like how DevConf India did their schedule page. Check it out https://devconfin2018.sched.com/

[2018-08-09 03:15] vipulgupta2048 commented on #163
@parthsharma2 would you like to take it up, since you previously worked on the same objective?

[2018-08-09 03:25] 2root2 commented on #162
@ananyo2012 Can I take this up?

[2018-08-09 03:49] ananyo2012 commented on #162
Yes please go Ahead. We need this immediately. Can you finish it in next
couple of days?

On Thu 9 Aug, 2018, 8:55 AM Mohan Gauns, <notifications@github.com> wrote:

[2018-08-09 03:54] ananyo2012 commented on #77
They are showing it in a separate page. The Website is a PWA. I think we
should use a modal instead of adding the link to CFP. This will keep the
user within the website instead of moving to another page. What do you
think?

On Thu 9 Aug, 2018, 8:43 AM Vipul Gupta, <notifications@github.com> wrote:

[2018-08-09 18:03] 2root2 commented on #162
@ananyo2012 We have some problem with layout, All Hall Numbers stack-up on top and then schedule is displayed, Have a look at my [gh-pages](https://2root2.github.io/inpycon2018/) in mobile view. Currently I've done for Day-1. Please suggest some alternative so as to display Hall Numbers against the schedule. Thanks.

[2018-08-10 02:33] ananyo2012 commented on #91
So we need 2 pages to be created here - Travelling to Hyderabad, Accomodation. First one can be created immediately.

Content for `Travelling to Hyderabad`  should contain Travel information by all 3 modes - Air, Train and Road.

[2018-08-10 08:35] ananyo2012 commented on #162
There are some more issues presently. The dates don't shoe properly in the mobile view. They get cut off from the table and are not visible properly. Please fix that.

Also please use a `col-md` for each tack item so that they also show side-by-side in medium grid view. Let's see how it looks. If that doesn't look good we can continue using the same.

[2018-08-13 04:33] ananyo2012 opened #165 "Make Schedule code DRY"
This will be the same as we did for sponsors and speakers page using javascript. Load data from json and populate the schedule.

[2018-08-13 04:56] 2root2 commented on #165
Can I take this up?

[2018-08-13 06:56] ananyo2012 commented on #165
Yeah you can start working on this. Make the PR once the previous PR is merged.

[2018-08-14 02:50] #162 closed

[2018-08-16 08:28] ananyo2012 commented on #163
@bhansa Yes please go ahead.

[2018-08-16 09:15] realslimshanky commented on #165
@2root2 any update on this issue?

[2018-08-19 20:54] aashutoshrathi opened #169 "Favicon is not visible"
**Browser**: Chrome Version 70.0.3527.0 (Official Build) canary (64-bit)

![image](https://user-images.githubusercontent.com/21199234/44313117-084d6a00-a420-11e8-958f-ecd00c8e0a7e.png)

[2018-08-19 21:08] vipulgupta2048 commented on #169
Hi @aashutoshrathi, Thanks for creating the issue. Can you try refreshing?
It is appearing on FireFox Quantum 61.0.2 (64-bit) that I use.
@pythonindia/pycon-2018-team Please check for the same.

[2018-08-19 21:52] aashutoshrathi commented on #169
@vipulgupta2048 It works in Firefox for me too, but shows nothing in Chrome.

[2018-08-20 13:10] aaqaishtyaq commented on #169
<img width="1792" alt="screen shot 2018-08-20 at 6 25 37 pm" src="https://user-images.githubusercontent.com/22131756/44342049-6e310480-a4a7-11e8-9977-aa6b7a9ad4a1.png">

Reproduced the issue on my machine too.
Tried clearing the cache as well as manually deleting the favicon cache.
However it seems a fairly easy fix.
adding something like,
[code]

[2018-08-21 15:34] #165 closed

[2018-08-22 09:11] aswanipranjal commented on #91
@ananyo2012 @realslimshanky @vipulgupta2048 is there any specific information/document that we have to refer to create these pages? If there is not, should we first gather information and create a doc?

[2018-08-22 09:36] realslimshanky commented on #91
@aswanipranjal internet is your friend here.

[2018-08-22 09:39] vipulgupta2048 commented on #91
Adding on to that, you can refer to this [PyCon India 2017 Blog](https://in.pycon.org/blog/2017/travel-and-hotel-2017.html) for more information on how to go on about format.

[2018-08-22 10:55] realslimshanky opened #173 "Incorrect heading for Workshop Schedule"
The workshop schedule is currently labeled as `Conference Schedule` which should be fixed.

[2018-08-22 11:09] realslimshanky opened #175 "Fixing the sponsor section UI"
The sponsor logos which are of different sizes are currently not aligned properly and hence doesn't look good. A minor fix is needed to resolve this issue.

[2018-08-22 11:59] ananyo2012 commented on #173
Hey Shashank, that is supposed to be the entire schedule for the conference
not just workshop, including Devsprints. The details of conference and
Devsprints schedule isn't finalized yet so the data is not put. Please
check schedule.json and schedule.js to see how its working

On Wed 22 Aug, 2018, 4:25 PM Shashank Kumar, <notifications@github.com>
wrote:

[2018-08-23 16:41] vipulgupta2048 commented on #163
@bhansa Can you also cover caching of JSON data in your current PR, this would completely fix this issue,

[2018-08-23 18:10] ananyo2012 commented on #173
@realslimshanky Can you try adding some more data to `schedule.json` ? It has a tabbed view specifically intended for that. What you can do is change the link to just `#schedule` and add headers in a separate row to distinguish between the three.

[2018-08-23 18:43] realslimshanky commented on #173
@ananyo2012 I've refactored the PR.

[2018-08-25 08:26] aswanipranjal commented on #91
https://docs.google.com/document/d/16EVCLID2buQD8R5odGxz_qc8gHiNQ-Cdx8X4Zi_bPpY/edit?usp=sharing

@ananyo2012 @realslimshanky @vipulgupta2048

Sorry about the delay.

[2018-08-26 19:38] realslimshanky commented on #91
@aswanipranjal can you please create a Pull Request as well with the content in the doc? It'll be easier to review and can be merged in one go. Use the same template as [Volunteer](https://in.pycon.org/2018/volunteer.html)

[2018-08-27 07:41] ananyo2012 commented on #91
@aswanipranjal I have commented on the doc. The information you collected is mostly for Travelling to Venue within Hyderabad. You should also add the information to how to reach Hyderabad from a different city via Air, Rail or Road. Like which Station they should reach, which Highway to take in case Travelling via personal Transport etc.

[2018-08-27 13:12] bhansa commented on #163
@vipulgupta2048  @ananyo2012 please review the last(caching JSON data) requirement as well.

[2018-09-01 14:10] ananyo2012 commented on #91
Ah It actually has lot of information. You can add the link at the end. But
you must add the Travel information separately in the page.
ᐧ

On Sat, Sep 1, 2018 at 6:53 PM Pranjal Aswani <notifications@github.com>
wrote:

[2018-09-02 10:50] aswanipranjal commented on #91
@ananyo2012 @vipulgupta2048 @realslimshanky does this has to be a page (such as volunteer, sponsors, coc) or will this be a blog post?

[2018-09-03 04:28] rajataaron commented on #175
@realslimshanky is the issue solved? If not then let me know once.

[2018-09-03 05:37] ananyo2012 commented on #91
It will be  a separate page in the website. I already mentioned that in the
issue.

On Sun, Sep 2, 2018 at 4:20 PM Pranjal Aswani <notifications@github.com>
wrote:

[2018-09-03 05:39] ananyo2012 commented on #175
There is a PR #176 for this. I made some comments there. Once that is done I can merge it.

[2018-09-03 05:49] vipulgupta2048 commented on #91
@aswanipranjal This will be a page, yes.
Also, to save some time you can mention @pythonindia/pycon-2018-team to get more views from the team members

[2018-09-03 21:16] realslimshanky commented on #175
@rajataaron I've tried solving the issue with #176, please review.

[2018-09-04 06:19] rajataaron opened #180 "FAQ: Related to workshop."
We should add some questions related to workshop to the FAQ section like:
1) I have brought the ticket for morning workshop but I want to attend evening workshop can I do that?
2) I have brought the workshop ticket am I eligible to participate in DevSprint?
3) Can I switch between the workshop in session time?

[2018-09-04 13:25] ananyo2012 commented on #180
Ok I will add them to the FAQ

[2018-09-06 02:57] ananyo2012 commented on #180
Added to the Website. Closing this.

[2018-09-06 02:57] #180 closed

[2018-09-09 07:57] #149 closed

[2018-09-09 09:55] #175 closed

[2018-09-09 11:46] akshat0047 commented on #77
I'll be working on this issue, first will be considering the usual json method and once it work fine, will go for the scraping part.
@ananyo2012 @vipulgupta2048

[2018-09-09 11:51] vipulgupta2048 commented on #77
@akshat0047  Thanks for taking it up.
Can you describe the usual JSON method that you will be following?
It's just that you would have to populate the JSON one way or the other.

[2018-09-09 11:59] #91 closed

[2018-09-09 12:11] akshat0047 commented on #77
Usual method, i.e. manually edit the json whenever adding a new schedule for the basic structure.
@vipulgupta2048

[2018-09-09 12:17] #88 closed

[2018-09-09 13:12] ananyo2012 commented on #94
Emailed Vijay and Satyakam today. Waiting for the reply.

[2018-09-12 07:45] varundey opened #185 "Keynote dropdown under Speaker has a weird blue background"
<img width="1439" alt="screen shot 2018-09-12 at 1 12 55 pm" src="https://user-images.githubusercontent.com/9202135/45409712-94545980-b68d-11e8-9d08-f00860ff778b.png">
 Click on Speakers and then click on Keynotes. It shows a weird blue background color for the list item that does not go with the theme.

[2018-09-12 07:45] varundey commented on #185
I would like to take it up. #dibs

[2018-09-12 08:18] ananyo2012 commented on #185
@varundey Can you try doing a hard reload ?

[2018-09-12 08:32] varundey commented on #185
@ananyo2012 i tried loading in firefox private window with cache disabled. issue still persists

[2018-09-12 10:51] varundey commented on #185
Tickets section has the same issue. Debugged and seems to be coming from Bootstrap CSS.
<img width="1439" alt="screen shot 2018-09-12 at 1 12 55 pm" src="https://user-images.githubusercontent.com/9202135/45413940-f0bc7680-b697-11e8-8538-f502f0745150.png">

[2018-09-12 12:50] bhansa commented on #185
@varundey Is it browser specific? Are you able to reproduce the same in Chrome as well?

[2018-09-12 13:18] bhansa commented on #94
Any update on the Analytics dashboard access @ananyo2012 @chirag200666

[2018-09-12 17:16] varundey commented on #185
@bhansa yep!
<img width="1373" alt="screen shot 2018-09-12 at 10 46 59 pm" src="https://user-images.githubusercontent.com/9202135/45441776-9e9e4400-b6dd-11e8-93ca-e306140fa212.png">

[2018-09-13 08:17] ananyo2012 commented on #185
I still can't reproduce the issue. I checked in 3 browsers Chrome canary v71, Firefox Quantum v62 and Microsoft edge v38. @pythonindia/pycon-2018-team Can others verify in their browsers ?

[2018-09-13 08:38] realslimshanky commented on #185
@ananyo2012 @bhansa maybe it's a platform/browser issue of some sort. If @varundey is getting the effect may be more folks can also see the same. So, it would be better if he can provide us with a quick fix for the respective platform/browser. Others will not be harmed by this change :)

[2018-09-13 09:31] varundey commented on #185
I tested this on latest versions of Firefox, Firefox developer edition and Chrome both Mac and PC. Here are the steps to repro:

1. Click on Speakers, it'll open a dropdown
2. Click on Keynotes, the page will autoscroll and dropdown will get closed
3. Reclick on Speakers, you'll notice the blue background on Keynotes

[2018-09-13 09:57] bhansa commented on #185
The steps made this clear now, thanks for the quick fix.

[2018-09-13 15:02] ananyo2012 commented on #185
Ah thanks a lot. Now I can reproduce it. Got it form the steps.

[2018-09-13 15:04] ananyo2012 commented on #94
Not yet. @chirag200666 Probably got the access. Need to talk to him.

[2018-09-13 15:08] ananyo2012 commented on #185
Closing this. Fixed in #186

[2018-09-13 15:08] #185 closed

[2018-09-15 09:36] uzerjamal opened #188 "Spelling error in index"
On line 276 in index.html 'frequent' is spelled as 'frequesnt'

[2018-09-15 09:52] uzerjamal commented on #188
#189

[2018-09-15 09:52] uzerjamal commented on #188
#189

[2018-09-15 09:52] uzerjamal commented on #188
#189

[2018-09-15 09:53] uzerjamal commented on #188
#189

[2018-09-15 09:57] steve7158 opened #191 "the pycon india logo is not aligned whenever screen size is reduced"
![pyconissue](https://user-images.githubusercontent.com/40897792/45585061-cec32e00-b8fb-11e8-959f-fcfb06a7ecf2.PNG)

[2018-09-15 10:09] steve7158 opened #192 "wrong button is highlighted in navigation bar"
home is getting highlighted when in blog
![inpycon issue 2](https://user-images.githubusercontent.com/40897792/45585153-80169380-b8fd-11e8-9b20-4f9aedf2c2a3.PNG)

[2018-09-15 10:31] sumitksingh17 opened #193 "Error 404 page not found"
in travel.html
issue: While clicking on the link (contact@in.pycon.org.) it is redirecting to 404 Error page.

[2018-09-15 10:33] sumitksingh17 commented on #193
#194

[2018-09-15 10:33] #193 closed

[2018-09-15 19:11] realslimshanky commented on #188
@uzerjamal Ideally the issue should be closed automatically with a merged pull request.

[2018-09-15 19:12] realslimshanky commented on #188
@uzerjamal are you facing any trouble? What's up with multiple pull requests? #190 #195?

[2018-09-15 19:16] realslimshanky commented on #192
@steve7158 this issue doesn't belong to this repository. It belongs to [pythonindia/blog](https://github.com/pythonindia/inpycon-blog) and has already been handled by https://github.com/pythonindia/inpycon-blog/issues/174
Thank you for raising the issue.

[2018-09-15 19:16] #192 closed

[2018-09-16 03:17] uzerjamal commented on #188
Sorry i'm a beginner and didn't know how to "update" a pull request with more changes so i just closed the old request #189 and made a new one #195 .
#190 is some other guy who guy who made the pull request after me. At that time i didn't know i had to reference it here and close it so i did it when i found out

[2018-09-16 03:17] #188 closed

[2018-09-16 09:36] ananyo2012 commented on #191
@steve7158 Also can you do a hard reload to confirm if this isn't a caching issue ?

[2018-09-16 10:12] steve7158 commented on #191
The problem seems to be occuring in pythonindia.github.io and not in https://in.pycon.org/2018/

[2018-09-16 10:30] ananyo2012 commented on #191
Oh don't worry about that. The gh-pages branch hasn't been updated for
quite some time since we have been using netlify for code reviews now

On Sun 16 Sep, 2018, 3:42 PM steve7158, <notifications@github.com> wrote:

[2018-09-17 16:57] realslimshanky opened #196 "Speakers images are not loading"
Speakers images on [/Speakers](https://in.pycon.org/2018/speakers.html) are not getting loaded.
It is because they are still pointing to the sample image. These can be fixed by just talking the image URLs from the Home page.

[2018-09-17 17:05] ananyo2012 commented on #196
Ah you are right. Need to update with the actual images. Can you add them @realslimshanky ?

[2018-09-17 17:05] realslimshanky commented on #196
@ananyo2012 I'm working on it. Will take a couple of minuted more for the PR.

[2018-09-17 17:29] realslimshanky commented on #191
I guess we can close this issue not since it doesn't give out errors to our production server.

[2018-09-17 17:29] #191 closed

[2018-09-18 21:35] #196 closed

[2018-09-19 07:10] poornagurram opened #199 "couldn't see social icons in speakers page"
<img width="1224" alt="screen shot 2018-09-19 at 12 39 18 pm" src="https://user-images.githubusercontent.com/9065157/45736632-27027480-bc09-11e8-9ab2-3ce4bc58f83c.png">

[2018-09-19 09:53] realslimshanky commented on #199
@poornagurram would you like to help us out by sending a pull request?

[2018-09-19 10:19] ananyo2012 commented on #199
Sorry this was caused as I removed the font awesome link from header and updated with a different version. Don't worry I will take care of this.

[2018-09-19 13:46] chirag200666 commented on #151
IBM India
IBM has been present in India since 1951. Since inception, IBM India has expanded its operations with regional headquarters in Bangalore and offices in over 20 cities. These include regional offices in New Delhi, Mumbai, Kolkata and Chennai. Today, IBM India has established itself as one of the leaders in the Indian Information Technology Industry.

As a leading cognitive solutions and c

[2018-09-19 21:34] #199 closed

[2018-09-19 21:35] realslimshanky commented on #151
@chirag200666 Please also mention the type of sponsorship for more help to @ananyo2012.

[2018-09-20 07:20] chirag200666 commented on #151
ZeOmega : Silver

ZeOmega is the premier enabler of value-based care. We provide technical solutions to facilitate collaboration among healthcare stakeholders. Jiva™, our Population Health Management Solution, helps healthcare organizations achieve Triple Aim goals.

Website:
http://www.zeomega.com/

logo:
http://www.zeomega.com/wp-content/uploads/WEB-235-ZeOmega-Logo.png

[2018-09-20 07:33] rahulkumaran commented on #151
Is this already done or assigned to anyone? If not, then I'd like to take it up

[2018-09-20 08:13] ananyo2012 commented on #151
Please go ahead. I think we are not writing blogs for Silver Sponsor. So
just add the logo to the website. Also please try to keep the image size
less than 50kb. You can use imagemagick for compression

On Thu 20 Sep, 2018, 1:03 PM Rahul Arulkumaran, <notifications@github.com>
wrote:

[2018-09-20 12:15] realslimshanky commented on #151
@rahulkumaran please checkout review on your pull request.

[2018-09-23 05:29] a2un opened #203 "Make Sponsors writeup"
Silver: DBS

[2018-09-23 05:30] a2un opened #204 "Make Sponsors writeup"
Associate: Atonarp

[2018-09-23 06:00] ananyo2012 commented on #204
This should be created in the blog repo
ᐧ

On Sun, Sep 23, 2018 at 11:00 AM Arun Balajiee <notifications@github.com>
wrote:

[2018-09-25 18:33] #204 closed

[2018-09-25 18:33] #203 closed

[2018-09-26 02:39] ananyo2012 commented on #151
Closing this and moving issues to blog repo

[2018-09-26 02:39] #151 closed

[2018-09-28 04:27] ananyo2012 commented on #77
This isn't needed anymore. Not feasible to get all speaker images at this point. Hence closing this.

[2018-09-28 04:27] #77 closed

[2018-09-28 04:28] ananyo2012 commented on #29
Discusses with team and everyone didn't approve of it. Hence closing this.

[2018-09-28 04:28] #29 closed

[2018-09-28 04:29] ananyo2012 commented on #94
Need to talk on Webchirpy on this.

[2018-09-28 04:30] ananyo2012 commented on #163
@bhansa Any update on the caching improvement. We talked on applying a timeout for the cache.

[2018-09-28 04:32] ananyo2012 opened #207 "Adjust sponsor dimensions for mobile screen view"
The sponsor logos have different sizes for smaller screen widths. We need to apply proper dimensions for the logos using media queries

[2018-09-28 04:33] ananyo2012 opened #208 "Add a Local attractions page under Attend section"

[2018-09-28 04:33] ananyo2012 opened #209 "Add Sponsor Workshop to schedule"

[2018-09-30 19:33] #209 closed

[2018-10-01 23:05] vipulgupta2048 commented on #163
@ananyo2012 @bhansa @realslimshanky we can get more reach by adding these labels in our issues. Since Hacktoberfest has started. People could possibly suggest new ways to improve performance.

[2018-10-01 23:07] vipulgupta2048 commented on #78
Closing #78 through #187
Update: Will wait on it since it hasn't been deployed.

[2018-10-02 03:13] vipulgupta2048 commented on #207
I am willing to take it up and learn more about the responsive element. Never actually got to that part of CSS. Do suggest things that I need to search for.
I probably would refer https://www.w3schools.com/css/css_rwd_mediaqueries.asp

[2018-10-02 04:08] ananyo2012 commented on #163
Yeah that's a good idea. Let's do that.

On Tue 2 Oct, 2018, 4:35 AM Vipul Gupta, <notifications@github.com> wrote:

[2018-10-02 06:37] ananyo2012 commented on #207
Sure go ahead.Assigned it to you.

[2018-10-02 06:38] ananyo2012 commented on #78
Merged and deployed to website.

[2018-10-02 06:38] #78 closed

[2018-10-02 06:49] ananyo2012 opened #213 "Add a page for workshop prerequisites and description"
This page is to facilitate participants to do the necessary setup for the workshops so they can cut down the time for doing the initial setup for the respective workshops. Most of the workshops have them in their proposal except the keynote workshops and sponsored ones that didn't come up from CFP. We need to properly organise and add content to the page

[2018-10-02 14:02] ananyo2012 commented on #213
**Jupyter hub and Binder by Carol Wiling**

Workshop Details:

We'll take an in-depth look at JupyterLab and its use for data science and scientific computing. We'll look at the new user interface functionality available to users of JupyterLab. Later, we will move beyond an individual's workflow with JupyterLab and see how JupyterHub brings JupyterLab to groups of users. We'll wrap up with a discu

[2018-10-02 14:15] ananyo2012 commented on #213
**Programming a Quantum Computer using Cirq by Vamsi Krishna Devabathini (Google)**

**Abstract:** This intermediate level workshop will focus on introduction to quantum computing and Cirq, python framework for creating quantum programming. It also includes a hands on tutorials implementing simple quantum algorithm(s) using Cirq.

**Prerequisites:** Basic knowledge of Python. Knowledge of Quantum

[2018-10-02 14:17] ananyo2012 commented on #213
**Understanding NLP - What's the feeling ? By Lakshya Sivaramakrishnan (Google)**

**Abstract:** This intermediate level talk would cover the basics required for natural language processing using NLTK in Python. We would then see it working in action through a sentiment analysis use-case.

**Pre-requisites:** Basic knowledge of Python

[2018-10-02 21:32] realslimshanky commented on #213
@ananyo2012 on it.

[2018-10-03 13:14] Gouravchawla opened #215 "Sponsor information missing"
Look at the screenshot below.
Missing information for sponsors: DBS, Elucidata and JetBrains.

![image](https://user-images.githubusercontent.com/2922351/46412406-1e975700-c73c-11e8-92eb-c52417723433.png)

[2018-10-03 14:49] realslimshanky commented on #215
@ananyo2012 can you please provide information for these sponsors so they can be sorted?

[2018-10-03 16:54] vipulgupta2048 commented on #215
Didn't catch Elucidata, thanks for making the issue @Gouravchawla
One might also look at this pending issue of some relevance - https://github.com/pythonindia/inpycon-blog/issues/179#issuecomment-426602062

[2018-10-04 01:51] #213 closed

[2018-10-04 20:04] #207 closed

[2018-10-10 08:01] bhansa commented on #94
I'm closing this issue.

[2018-10-10 08:01] #94 closed

[2018-10-27 14:11] #208 closed

[2018-10-27 15:53] ananyo2012 commented on #215
Added all sponsor information that were missing.

[2018-10-27 15:53] #215 closed

[2018-11-18 17:07] fenilgandhi commented on #163
0.001 ETH on gitcoin ssly. Don't you think that's a little too high (Sarcasm intended). Anyone would have done it for free just knowing that it is open-source contribution(not me).

[2018-11-19 11:13] vipulgupta2048 commented on #163
Hi @fenilgandhi, can you provide the link to the Gitcoin advert that redirected you here. Thanks.

[2018-11-19 15:05] fenilgandhi commented on #163
Here you go
```https://gitcoin.co/issue/pythonindia/inpycon2018/163/1466```

[2018-11-19 16:26] #163 closed, assigned to nobody